@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Tenor+Sans&display=swap");
:root {
  --text-color: #323232;
  --text-accent: #57463A;
  --text-white: #F6F6F6;
  --text-black: #000000;
  --green: #A1B29F;
  --line-black: #000;
  --line-brown: #715B4B;
  --nav-hover: #57463a;
  --bg-color: #F3EFEA;
  --bg-white: #F6F6F6;
  --bg-hover: #5f7e5c;
  --bg-brand: #EBEEEB;
  --bg-furniture: #E3DACE;
  --bg-masterClass: #D4CDC3;
  --bg-footer: #715B4B;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300;
  color: var(--text-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
* a {
  color: var(--text-color);
}

html, body {
  height: 100%;
  background-color: var(--bg-color);
}

h1 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1470px;
  padding: 0px 15px;
  margin: 0 auto;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0px;
  border-bottom: 1px solid var(--line-black);
}
@media (max-width: 950px) {
  .nav {
    grid-template-columns: 1fr;
    justify-items: end;
  }
}
@media (max-width: 650px) {
  .nav {
    width: 100%;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-list:first-child {
  gap: 50px;
}
.nav-list:nth-child(3) {
  gap: 100px;
}
@media (max-width: 950px) {
  .nav-list {
    display: none;
  }
}

.nav-list__link {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 10px;
  font-weight: 400;
}

.nav-list__link:hover {
  border-bottom: 3px solid var(--nav-hover);
}

@media (max-width: 950px) {
  .logo {
    display: none;
  }
}

.nav__btn {
  display: none;
}
@media (max-width: 950px) {
  .nav__btn {
    display: block;
    border: none;
  }
}

.bg-content {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  border-bottom: 1px solid var(--line-black);
}
@media (max-width: 950px) {
  .bg-content {
    grid-template-columns: 1fr;
    grid-template-rows: 450px auto;
  }
}
@media (max-width: 650px) {
  .bg-content {
    grid-template-columns: 100%;
    grid-template-rows: 300px auto;
  }
}

.bg-content__img {
  width: 100%;
}
.bg-content__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-content__text {
  margin: 200px 40px 20px;
}
.bg-content__text h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
@media (max-width: 650px) {
  .bg-content__text h3 {
    font-size: 14px;
    line-height: 22px;
  }
}
.bg-content__text h1 {
  font-family: "Tenor Sans";
  color: var(--text-accent);
  font-size: 48px;
  line-height: 58px;
  font-weight: 400;
  padding: 20px 0px 40px;
}
@media (max-width: 650px) {
  .bg-content__text h1 {
    font-size: 32px;
    line-height: 38px;
    padding: 20px 0px;
  }
}
.bg-content__text p {
  font-size: 16px;
}
@media (max-width: 650px) {
  .bg-content__text p {
    font-size: 14px;
    line-height: 22px;
  }
}
@media (max-width: 950px) {
  .bg-content__text {
    margin: 60px 40px 40px;
  }
}
@media (max-width: 650px) {
  .bg-content__text {
    margin: 30px 15px 15px;
  }
}

.bg-content__text-btn {
  display: inline-block;
  margin: 70px 0px;
  padding: 18px 58px;
  background-color: var(--green);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.bg-content__text-btn a {
  color: var(--text-white);
}
.bg-content__text-btn:hover {
  background-color: var(--bg-hover);
  cursor: pointer;
}
@media (max-width: 650px) {
  .bg-content__text-btn {
    margin: 30px 0px;
  }
}

.bg-content__text-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 40px;
}
.bg-content__text-social a {
  -webkit-transition: hover 2s ease;
  transition: hover 2s ease;
}
.bg-content__text-social a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.mob-nav__wrap {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 320px;
  padding: 30px;
  background-color: var(--bg-footer);
  opacity: 0.9;
}
.mob-nav__wrap a {
  color: var(--text-white);
}
.mob-nav__wrap a:hover {
  border-bottom: 2px solid var(--text-white);
}
.mob-nav__wrap h4 {
  padding: 10px;
}
.mob-nav__wrap h4 a {
  font-family: "Tenor Sans";
  font-weight: bold;
  font-size: 24px;
}
.mob-nav__wrap--open {
  display: block;
}

.mob-nav__list {
  display: grid;
  gap: 10px;
  margin-bottom: 10px;
}

.mob-nav__list-link {
  font-size: 20px;
}

.mob-nav__btn {
  border: none;
  background-color: var(--bg-footer);
}

.mob-nav__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.brand {
  margin: 100px 135px 0px;
}
.brand h2 {
  color: var(--text-accent);
  font-family: "Tenor Sans", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  text-transform: uppercase;
}
@media (max-width: 650px) {
  .brand h2 {
    font-size: 32px;
    line-height: 38px;
  }
}
.brand h2 span {
  color: var(--text-accent);
  font-family: "Tenor Sans", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  text-transform: lowercase;
}
@media (max-width: 650px) {
  .brand h2 span {
    font-size: 32px;
    line-height: 38px;
  }
}
@media (max-width: 950px) {
  .brand {
    margin: 80px 100px 0px;
  }
}
@media (max-width: 650px) {
  .brand {
    margin: 50px 15px 0px;
  }
}

.brand-text {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  margin-top: 100px;
}
@media (max-width: 950px) {
  .brand-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 60px;
  }
}
@media (max-width: 650px) {
  .brand-text {
    margin-top: 25px;
    gap: 20px;
  }
}

.brand-text__list {
  border-bottom: 3px solid var(--line-brown);
  padding-bottom: 14px;
}
.brand-text__list p {
  line-height: 27px;
  padding: 0px 40px;
  text-align: center;
}

.products {
  margin: 100px 140px;
}
.products h2 {
  color: var(--text-accent);
  font-family: "Tenor Sans", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  margin-bottom: 100px;
}
@media (max-width: 950px) {
  .products h2 {
    margin-bottom: 60px;
  }
}
@media (max-width: 650px) {
  .products h2 {
    margin-bottom: 30px;
    font-size: 32px;
    line-height: 38px;
  }
}
@media (max-width: 950px) {
  .products {
    margin: 80px 100px;
  }
}
@media (max-width: 650px) {
  .products {
    margin: 50px 15px;
  }
}

.products-items {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 1fr);
  gap: 0 1px;
}
@media (max-width: 650px) {
  .products-items {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 1fr);
  }
}

.products-items__list {
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  border: 1px solid #000;
  width: 100%;
  height: 250px;
}
.products-items__list p {
  line-height: 19px;
  margin-top: 20px;
}
.products-items__list:nth-child(5) {
  border-top: none;
}
.products-items__list:nth-child(6) {
  border-top: none;
}
.products-items__list:nth-child(7) {
  border-top: none;
}
.products-items__list:nth-child(8) {
  border-top: none;
}
@media (max-width: 650px) {
  .products-items__list:nth-child(3) {
    border-top: none;
  }
}
@media (max-width: 650px) {
  .products-items__list:nth-child(4) {
    border-top: none;
  }
}

.team-name {
  margin-left: 140px;
  margin-bottom: 100px;
  color: var(--text-accent);
  font-family: "Tenor Sans", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
}
@media (max-width: 950px) {
  .team-name {
    margin: 0px 100px 60px;
  }
}
@media (max-width: 650px) {
  .team-name {
    margin: 0px 15px 30px;
    font-size: 32px;
    line-height: 38px;
  }
}

.team-description {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
@media (max-width: 950px) {
  .team-description {
    grid-template-columns: 1fr;
    grid-template-rows: 450px auto;
  }
}
@media (max-width: 650px) {
  .team-description {
    grid-template-rows: 300px auto;
  }
}

.team-text {
  background: var(--bg-brand);
  padding: 70px 40px 40px;
}
.team-text h4 {
  color: var(--text-black);
  font-family: "Tenor Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 40px;
}
@media (max-width: 650px) {
  .team-text h4 {
    margin-bottom: 20px;
  }
}
.team-text p {
  color: var(--text-black);
  line-height: 27px;
}
@media (max-width: 650px) {
  .team-text p {
    font-size: 16px;
  }
}
.team-text p span {
  font-weight: bold;
}
.team-text p:nth-child(2) {
  margin-bottom: 20px;
}
.team-text a {
  display: inline-block;
  margin-top: 52px;
  background: #A1B29F;
  padding: 18px 56px;
  color: var(--text-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.team-text a:hover {
  background-color: var(--bg-hover);
  cursor: pointer;
}
@media (max-width: 950px) {
  .team-text {
    padding: 40px;
  }
}
@media (max-width: 650px) {
  .team-text {
    padding: 20px;
  }
}

.team-img {
  width: 100%;
}
.team-img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video {
  margin: 100px 140px 0px 140px;
}
.video h2 {
  color: var(--text-accent);
  font-family: "Tenor Sans", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  margin-bottom: 100px;
}
@media (max-width: 950px) {
  .video h2 {
    margin-bottom: 60px;
  }
}
@media (max-width: 650px) {
  .video h2 {
    margin-bottom: 30px;
    font-size: 32px;
    line-height: 38px;
  }
}
@media (max-width: 950px) {
  .video {
    margin: 80px 100px 0px;
  }
}
@media (max-width: 650px) {
  .video {
    margin: 50px 15px 0px;
  }
}

@media (max-width: 950px) {
  .video__about-us iframe {
    height: 350px;
  }
}
@media (max-width: 650px) {
  .video__about-us iframe {
    height: 300px;
  }
}

.services {
  margin-top: 100px;
}
.services h2 {
  color: var(--text-accent);
  font-family: "Tenor Sans", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  margin-left: 140px;
  margin-bottom: 100px;
}
@media (max-width: 950px) {
  .services h2 {
    margin: 0px 100px 60px;
  }
}
@media (max-width: 650px) {
  .services h2 {
    margin: 0px 15px 30px;
    font-size: 32px;
    line-height: 38px;
  }
}
@media (max-width: 950px) {
  .services {
    margin-top: 80px;
  }
}
@media (max-width: 650px) {
  .services {
    margin-top: 50px;
  }
}

.services__list {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
@media (max-width: 950px) {
  .services__list {
    grid-template-columns: 1fr;
    grid-template-rows: 450px auto;
  }
}
@media (max-width: 650px) {
  .services__list {
    grid-template-rows: 300px auto;
  }
}

.furniture {
  background-color: var(--bg-furniture);
}

.master-class {
  background-color: var(--bg-masterClass);
}

.services__list-description {
  padding: 70px 40px 40px;
}
.services__list-description h4 {
  color: var(--text-black);
  font-family: "Tenor Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 40px;
}
@media (max-width: 650px) {
  .services__list-description h4 {
    margin-bottom: 20px;
  }
}
.services__list-description p {
  color: var(--text-black);
  line-height: 27px;
}
@media (max-width: 650px) {
  .services__list-description p {
    font-size: 16px;
    line-height: 22px;
  }
}
.services__list-description p:nth-child(2) {
  margin-bottom: 20px;
}
@media (max-width: 650px) {
  .services__list-description p:nth-child(2) {
    margin-bottom: 10px;
  }
}
.services__list-description a {
  display: inline-block;
  margin-top: 50px;
  background: #A1B29F;
  padding: 18px 56px;
  color: var(--text-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.services__list-description a:hover {
  background-color: var(--bg-hover);
  cursor: pointer;
}
@media (max-width: 950px) {
  .services__list-description {
    padding: 40px;
  }
}
@media (max-width: 650px) {
  .services__list-description {
    padding: 30px 15px;
  }
}

.services__list-img {
  width: 100%;
}
.services__list-img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.quality {
  margin: 100px 140px;
  border: 7px solid var(--green);
}
@media (max-width: 950px) {
  .quality {
    margin: 80px 100px;
  }
}
@media (max-width: 650px) {
  .quality {
    margin: 50px 15px;
  }
}

.quality-frame {
  margin: 5px;
  border: 2px solid #715B4B;
}
.quality-frame h4 {
  color: var(--text-accent);
  text-align: center;
  font-family: "Tenor Sans";
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  padding: 90px 80px 30px;
}
@media (max-width: 650px) {
  .quality-frame h4 {
    font-size: 32px;
    line-height: 38px;
    padding: 45px 20px 15px;
  }
}
.quality-frame p {
  color: var(--text-black);
  font-size: 24px;
  line-height: 36px;
  padding: 0px 50px;
  text-align: center;
}
@media (max-width: 650px) {
  .quality-frame p {
    font-size: 18px;
    line-height: 24px;
    padding: 0px 15px;
  }
}

.quality-img img {
  display: block;
  margin-left: auto;
  margin-right: 62px;
  margin-bottom: 38px;
}
@media (max-width: 650px) {
  .quality-img img {
    margin-right: 25px;
    margin-bottom: 15px;
    height: 100px;
  }
}

.footer-wrap {
  padding: 80px 140px 40px;
  background-color: var(--bg-footer);
}
@media (max-width: 950px) {
  .footer-wrap {
    padding: 40px 100px;
  }
}
@media (max-width: 650px) {
  .footer-wrap {
    padding: 30px;
  }
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
@media (max-width: 950px) {
  .footer-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 650px) {
  .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
  }
}

.footer-nav__list li {
  color: var(--text-white);
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 650px) {
  .footer-nav__list li {
    font-size: 14px;
    line-height: 20px;
  }
}
.footer-nav__list li a {
  color: var(--text-white);
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 650px) {
  .footer-nav__list li a {
    font-size: 14px;
    line-height: 20px;
  }
}
.footer-nav__list li a:hover {
  border-bottom: 2px solid var(--text-white);
}

.footer-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 40px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer-img a {
  -webkit-transition: hover 0.5ms ease;
  transition: hover 0.5ms ease;
}
.footer-img a img {
  width: 75%;
}
.footer-img a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
@media (max-width: 950px) {
  .footer-img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 650px) {
  .footer-img {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 15px;
    margin-top: 20px;
  }
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0px;
  border-bottom: 1px solid var(--line-black);
}
@media (max-width: 950px) {
  .nav {
    grid-template-columns: 1fr;
    justify-items: end;
  }
}
@media (max-width: 650px) {
  .nav {
    width: 100%;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-list:first-child {
  gap: 50px;
}
.nav-list:nth-child(3) {
  gap: 100px;
}
@media (max-width: 950px) {
  .nav-list {
    display: none;
  }
}

.nav-list__link {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 10px;
  font-weight: 400;
}

.nav-list__link:hover {
  border-bottom: 3px solid var(--nav-hover);
}

@media (max-width: 950px) {
  .logo {
    display: none;
  }
}

.nav__btn {
  display: none;
}
@media (max-width: 950px) {
  .nav__btn {
    display: block;
    border: none;
  }
}

.bg-content {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  border-bottom: 1px solid var(--line-black);
}
@media (max-width: 950px) {
  .bg-content {
    grid-template-columns: 1fr;
    grid-template-rows: 450px auto;
  }
}
@media (max-width: 650px) {
  .bg-content {
    grid-template-columns: 100%;
    grid-template-rows: 300px auto;
  }
}

.bg-content__img {
  width: 100%;
}
.bg-content__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-content__text {
  margin: 200px 40px 20px;
}
.bg-content__text h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
@media (max-width: 650px) {
  .bg-content__text h3 {
    font-size: 14px;
    line-height: 22px;
  }
}
.bg-content__text h1 {
  font-family: "Tenor Sans";
  color: var(--text-accent);
  font-size: 48px;
  line-height: 58px;
  font-weight: 400;
  padding: 20px 0px 40px;
}
@media (max-width: 650px) {
  .bg-content__text h1 {
    font-size: 32px;
    line-height: 38px;
    padding: 20px 0px;
  }
}
.bg-content__text p {
  font-size: 16px;
}
@media (max-width: 650px) {
  .bg-content__text p {
    font-size: 14px;
    line-height: 22px;
  }
}
@media (max-width: 950px) {
  .bg-content__text {
    margin: 60px 40px 40px;
  }
}
@media (max-width: 650px) {
  .bg-content__text {
    margin: 30px 15px 15px;
  }
}

.bg-content__text-btn {
  display: inline-block;
  margin: 70px 0px;
  padding: 18px 58px;
  background-color: var(--green);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.bg-content__text-btn a {
  color: var(--text-white);
}
.bg-content__text-btn:hover {
  background-color: var(--bg-hover);
  cursor: pointer;
}
@media (max-width: 650px) {
  .bg-content__text-btn {
    margin: 30px 0px;
  }
}

.bg-content__text-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 40px;
}
.bg-content__text-social a {
  -webkit-transition: hover 2s ease;
  transition: hover 2s ease;
}
.bg-content__text-social a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.mob-nav__wrap {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 320px;
  padding: 30px;
  background-color: var(--bg-footer);
  opacity: 0.9;
}
.mob-nav__wrap a {
  color: var(--text-white);
}
.mob-nav__wrap a:hover {
  border-bottom: 2px solid var(--text-white);
}
.mob-nav__wrap h4 {
  padding: 10px;
}
.mob-nav__wrap h4 a {
  font-family: "Tenor Sans";
  font-weight: bold;
  font-size: 24px;
}
.mob-nav__wrap--open {
  display: block;
}

.mob-nav__list {
  display: grid;
  gap: 10px;
  margin-bottom: 10px;
}

.mob-nav__list-link {
  font-size: 20px;
}

.mob-nav__btn {
  border: none;
  background-color: var(--bg-footer);
}

.mob-nav__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.history {
  margin: 120px 140px;
}
.history h4 {
  color: var(--text-accent);
  font-family: "Tenor Sans";
  font-size: 48px;
  line-height: 72px;
  text-align: center;
}
@media (max-width: 950px) {
  .history h4 {
    font-size: 40px;
    line-height: 48px;
  }
}
@media (max-width: 650px) {
  .history h4 {
    font-size: 32px;
    line-height: 38px;
  }
}
.history h2 {
  margin: 10px 0 40px;
  color: var(--text-accent);
  font-family: "Tenor Sans";
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 650px) {
  .history h2 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1024px) {
  .history {
    margin: 60px 40px;
  }
}
@media (max-width: 650px) {
  .history {
    margin: 30px 0;
  }
}

.history__img {
  width: 100%;
}
.history__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.history__achievements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}
@media (max-width: 1024px) {
  .history__achievements {
    margin-top: 40px;
  }
}
@media (max-width: 950px) {
  .history__achievements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 650px) {
  .history__achievements {
    margin-top: 20px;
    gap: 10px;
  }
}

.history__achievements-items-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.history__achievements-items-nav li:first-child {
  color: var(--text-accent);
  font-family: "Tenor Sans";
  font-size: 48px;
  line-height: 72px;
}
@media (max-width: 650px) {
  .history__achievements-items-nav li:first-child {
    font-size: 32px;
    line-height: 38px;
  }
}
.history__achievements-items-nav li:last-child {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-black);
}

.founder {
  display: grid;
  grid-template-columns: repeat(2, 40% 60%);
  gap: 40px;
  margin: 0 140px;
}
@media (max-width: 1024px) {
  .founder {
    margin: 0 40px;
    grid-template-columns: repeat(2, 50% 50%);
    gap: 20px;
  }
}
@media (max-width: 650px) {
  .founder {
    grid-template-columns: 100%;
    grid-template-rows: 275px auto;
    margin: 0;
  }
}

.founder-biography h4 {
  color: var(--text-black);
  font-family: "Tenor Sans";
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
}
.founder-biography h6 {
  margin: 20px 0 50px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-black);
}
@media (max-width: 950px) {
  .founder-biography h6 {
    margin: 20px 0;
  }
}
@media (max-width: 650px) {
  .founder-biography h6 {
    font-size: 18px;
  }
}
.founder-biography p {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-black);
}
@media (max-width: 950px) {
  .founder-biography p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
  }
}
.founder-biography p:last-child {
  margin-bottom: 0px;
}

.founder-image {
  width: 100%;
}
.founder-image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.philosophy {
  margin: 120px 140px;
}
.philosophy h2 {
  font-family: "Tenor Sans";
  font-size: 48px;
  font-weight: 400;
  color: var(--text-accent);
  margin-bottom: 50px;
}
@media (max-width: 950px) {
  .philosophy h2 {
    font-size: 42px;
  }
}
@media (max-width: 650px) {
  .philosophy h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
.philosophy h2 span {
  font-family: "Tenor Sans";
  font-size: 48px;
  font-weight: 400;
  color: var(--text-accent);
  text-transform: uppercase;
}
@media (max-width: 950px) {
  .philosophy h2 span {
    font-size: 42px;
  }
}
@media (max-width: 650px) {
  .philosophy h2 span {
    font-size: 30px;
  }
}
.philosophy p {
  display: block;
  font-size: 24px;
  text-align: end;
  max-width: 695px;
  margin-left: auto;
}
@media (max-width: 950px) {
  .philosophy p {
    font-size: 18px;
  }
}
@media (max-width: 650px) {
  .philosophy p {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  .philosophy {
    margin: 60px 40px;
  }
}
@media (max-width: 650px) {
  .philosophy {
    margin: 30px 0;
  }
}

.feedback {
  margin: 0px 140px 120px;
}
.feedback h2 {
  font-family: "Tenor Sans";
  font-size: 48px;
  font-weight: 400;
  color: var(--text-accent);
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 650px) {
  .feedback h2 {
    font-size: 32px;
  }
}
@media (max-width: 950px) {
  .feedback {
    margin: 60px 40px;
  }
}
@media (max-width: 650px) {
  .feedback {
    margin: 30px 0;
  }
}

.feedback_form {
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border: 2px solid var(--nav-hover);
}

.form_input input {
  width: 500px;
  height: 40px;
  padding-left: 10px;
  font-size: 14px;
}
@media (max-width: 650px) {
  .form_input input {
    width: 330px;
    height: 30px;
  }
}
.form_input textarea {
  width: 500px;
  height: 100px;
  resize: none;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 14px;
}
@media (max-width: 650px) {
  .form_input textarea {
    width: 330px;
  }
}

.form_btn {
  background-color: var(--line-brown);
  padding: 18px 50px;
  color: var(--text-white);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.form_btn:hover {
  background-color: var(--nav-hover);
}
@media (max-width: 650px) {
  .form_btn {
    padding: 10px 35px;
  }
}

.footer-wrap {
  padding: 80px 140px 40px;
  background-color: var(--bg-footer);
}
@media (max-width: 950px) {
  .footer-wrap {
    padding: 40px 100px;
  }
}
@media (max-width: 650px) {
  .footer-wrap {
    padding: 30px;
  }
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
@media (max-width: 950px) {
  .footer-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 650px) {
  .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
  }
}

.footer-nav__list li {
  color: var(--text-white);
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 650px) {
  .footer-nav__list li {
    font-size: 14px;
    line-height: 20px;
  }
}
.footer-nav__list li a {
  color: var(--text-white);
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 650px) {
  .footer-nav__list li a {
    font-size: 14px;
    line-height: 20px;
  }
}
.footer-nav__list li a:hover {
  border-bottom: 2px solid var(--text-white);
}

.footer-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 40px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer-img a {
  -webkit-transition: hover 0.5ms ease;
  transition: hover 0.5ms ease;
}
.footer-img a img {
  width: 75%;
}
.footer-img a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
@media (max-width: 950px) {
  .footer-img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 650px) {
  .footer-img {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 15px;
    margin-top: 20px;
  }
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0px;
  border-bottom: 1px solid var(--line-black);
}
@media (max-width: 950px) {
  .nav {
    grid-template-columns: 1fr;
    justify-items: end;
  }
}
@media (max-width: 650px) {
  .nav {
    width: 100%;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-list:first-child {
  gap: 50px;
}
.nav-list:nth-child(3) {
  gap: 100px;
}
@media (max-width: 950px) {
  .nav-list {
    display: none;
  }
}

.nav-list__link {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 10px;
  font-weight: 400;
}

.nav-list__link:hover {
  border-bottom: 3px solid var(--nav-hover);
}

@media (max-width: 950px) {
  .logo {
    display: none;
  }
}

.nav__btn {
  display: none;
}
@media (max-width: 950px) {
  .nav__btn {
    display: block;
    border: none;
  }
}

.bg-content {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  border-bottom: 1px solid var(--line-black);
}
@media (max-width: 950px) {
  .bg-content {
    grid-template-columns: 1fr;
    grid-template-rows: 450px auto;
  }
}
@media (max-width: 650px) {
  .bg-content {
    grid-template-columns: 100%;
    grid-template-rows: 300px auto;
  }
}

.bg-content__img {
  width: 100%;
}
.bg-content__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-content__text {
  margin: 200px 40px 20px;
}
.bg-content__text h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
@media (max-width: 650px) {
  .bg-content__text h3 {
    font-size: 14px;
    line-height: 22px;
  }
}
.bg-content__text h1 {
  font-family: "Tenor Sans";
  color: var(--text-accent);
  font-size: 48px;
  line-height: 58px;
  font-weight: 400;
  padding: 20px 0px 40px;
}
@media (max-width: 650px) {
  .bg-content__text h1 {
    font-size: 32px;
    line-height: 38px;
    padding: 20px 0px;
  }
}
.bg-content__text p {
  font-size: 16px;
}
@media (max-width: 650px) {
  .bg-content__text p {
    font-size: 14px;
    line-height: 22px;
  }
}
@media (max-width: 950px) {
  .bg-content__text {
    margin: 60px 40px 40px;
  }
}
@media (max-width: 650px) {
  .bg-content__text {
    margin: 30px 15px 15px;
  }
}

.bg-content__text-btn {
  display: inline-block;
  margin: 70px 0px;
  padding: 18px 58px;
  background-color: var(--green);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.bg-content__text-btn a {
  color: var(--text-white);
}
.bg-content__text-btn:hover {
  background-color: var(--bg-hover);
  cursor: pointer;
}
@media (max-width: 650px) {
  .bg-content__text-btn {
    margin: 30px 0px;
  }
}

.bg-content__text-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 40px;
}
.bg-content__text-social a {
  -webkit-transition: hover 2s ease;
  transition: hover 2s ease;
}
.bg-content__text-social a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.mob-nav__wrap {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 320px;
  padding: 30px;
  background-color: var(--bg-footer);
  opacity: 0.9;
}
.mob-nav__wrap a {
  color: var(--text-white);
}
.mob-nav__wrap a:hover {
  border-bottom: 2px solid var(--text-white);
}
.mob-nav__wrap h4 {
  padding: 10px;
}
.mob-nav__wrap h4 a {
  font-family: "Tenor Sans";
  font-weight: bold;
  font-size: 24px;
}
.mob-nav__wrap--open {
  display: block;
}

.mob-nav__list {
  display: grid;
  gap: 10px;
  margin-bottom: 10px;
}

.mob-nav__list-link {
  font-size: 20px;
}

.mob-nav__btn {
  border: none;
  background-color: var(--bg-footer);
}

.mob-nav__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.custom-furniture {
  max-width: 100%;
  height: 600px;
  background-image: url("./../assets/images/furniture.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}
.custom-furniture p {
  color: var(--text-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 200px;
}
@media (max-width: 650px) {
  .custom-furniture p {
    padding: 150px 30px 30px;
    font-size: 14px;
  }
}
.custom-furniture h2, .custom-furniture h4 {
  color: var(--text-white);
  font-family: "Tenor Sans";
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  text-align: center;
}
@media (max-width: 650px) {
  .custom-furniture h2, .custom-furniture h4 {
    font-size: 32px;
    line-height: 38px;
  }
}
.custom-furniture a {
  display: block;
  width: 328px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 18px;
  color: var(--text-accent);
  background-color: var(--bg-white);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.custom-furniture a:hover {
  border-radius: 10px;
  background-color: var(--bg-color);
}
@media (max-width: 650px) {
  .custom-furniture a {
    width: 250px;
    font-size: 14px;
    line-height: 18px;
  }
}

.choose-us {
  margin: 120px 140px;
}
.choose-us h2 {
  color: var(--text-accent);
  font-family: "Tenor Sans";
  font-size: 48px;
  font-weight: 400;
}
@media (max-width: 650px) {
  .choose-us h2 {
    font-size: 32px;
  }
}
@media (max-width: 950px) {
  .choose-us {
    margin: 60px 40px;
  }
}
@media (max-width: 650px) {
  .choose-us {
    margin: 40px 0;
  }
}

.why {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 265px);
  grid-template-rows: repeat(2, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px 20px;
}
@media (max-width: 1024px) {
  .why {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 650px) {
  .why {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}

.why-list__title {
  font-size: 16px;
  font-weight: 700;
  padding: 5px 0;
  border-bottom: 1px solid var(--line-brown);
}
@media (max-width: 650px) {
  .why-list__title {
    font-size: 14px;
  }
}

.why-list__desc {
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}
@media (max-width: 650px) {
  .why-list__desc {
    font-size: 14px;
  }
}

.portpholio {
  margin: 0 140px 120px 140px;
}
.portpholio h2 {
  color: var(--text-accent);
  font-family: "Tenor Sans";
  font-size: 48px;
  font-weight: 400;
}
@media (max-width: 650px) {
  .portpholio h2 {
    font-size: 32px;
  }
}
@media (max-width: 950px) {
  .portpholio {
    margin: 0 40px 120px 40px;
  }
}
@media (max-width: 650px) {
  .portpholio {
    margin: 0 0 80px 0;
  }
}

.slider {
  width: 70%;
  height: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
@media (max-width: 1024px) {
  .slider {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .slider {
    height: 300px;
    margin-top: 30px;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 90%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
  margin-top: 10px;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-wrapper {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.stages {
  margin: 0 140px 120px 140px;
}
.stages h2 {
  color: var(--text-accent);
  font-family: "Tenor Sans";
  font-size: 48px;
  font-weight: 400;
}
@media (max-width: 650px) {
  .stages h2 {
    font-size: 32px;
  }
}
@media (max-width: 950px) {
  .stages {
    margin: 0 40px 60px 40px;
  }
}
@media (max-width: 650px) {
  .stages {
    margin: 0 0 40px 0;
  }
}

.stages__table {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
@media (max-width: 950px) {
  .stages__table {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 650px) {
  .stages__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
}

.table-items {
  border: 1px solid var(--line-black);
}

.table-items-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 40px;
}
.table-items-number li {
  color: var(--text-accent);
  font-family: "Tenor Sans";
  font-size: 48px;
  font-weight: 400;
}

.table-items-text {
  font-size: 16px;
  padding: 5px 50px 20px 20px;
}

.feedback {
  margin: 0px 140px 120px;
}
.feedback h2 {
  font-family: "Tenor Sans";
  font-size: 48px;
  font-weight: 400;
  color: var(--text-accent);
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 650px) {
  .feedback h2 {
    font-size: 32px;
  }
}
@media (max-width: 950px) {
  .feedback {
    margin: 60px 40px;
  }
}
@media (max-width: 650px) {
  .feedback {
    margin: 30px 0;
  }
}

.feedback_form {
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border: 2px solid var(--nav-hover);
}

.form_input input {
  width: 500px;
  height: 40px;
  padding-left: 10px;
  font-size: 14px;
}
@media (max-width: 650px) {
  .form_input input {
    width: 330px;
    height: 30px;
  }
}
.form_input textarea {
  width: 500px;
  height: 100px;
  resize: none;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 14px;
}
@media (max-width: 650px) {
  .form_input textarea {
    width: 330px;
  }
}

.form_btn {
  background-color: var(--line-brown);
  padding: 18px 50px;
  color: var(--text-white);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.form_btn:hover {
  background-color: var(--nav-hover);
}
@media (max-width: 650px) {
  .form_btn {
    padding: 10px 35px;
  }
}

.footer-wrap {
  padding: 80px 140px 40px;
  background-color: var(--bg-footer);
}
@media (max-width: 950px) {
  .footer-wrap {
    padding: 40px 100px;
  }
}
@media (max-width: 650px) {
  .footer-wrap {
    padding: 30px;
  }
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
@media (max-width: 950px) {
  .footer-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
@media (max-width: 650px) {
  .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
  }
}

.footer-nav__list li {
  color: var(--text-white);
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 650px) {
  .footer-nav__list li {
    font-size: 14px;
    line-height: 20px;
  }
}
.footer-nav__list li a {
  color: var(--text-white);
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 650px) {
  .footer-nav__list li a {
    font-size: 14px;
    line-height: 20px;
  }
}
.footer-nav__list li a:hover {
  border-bottom: 2px solid var(--text-white);
}
@media (max-width: 950px) {
  .footer-nav__list:nth-child(3) {
    grid-column-start: 2;
    grid-row-start: 2;
  }
}
@media (max-width: 950px) {
  .footer-nav__list:nth-child(4) {
    grid-column-start: 1;
    grid-row-start: 2;
  }
}

.footer-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 40px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer-img a {
  -webkit-transition: hover 0.5ms ease;
  transition: hover 0.5ms ease;
}
.footer-img a img {
  width: 75%;
}
.footer-img a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
@media (max-width: 950px) {
  .footer-img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 650px) {
  .footer-img {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 15px;
    margin-top: 20px;
  }
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0px;
  border-bottom: 1px solid var(--line-black);
}
@media (max-width: 950px) {
  .nav {
    grid-template-columns: 1fr;
    justify-items: end;
  }
}
@media (max-width: 650px) {
  .nav {
    width: 100%;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-list:first-child {
  gap: 50px;
}
.nav-list:nth-child(3) {
  gap: 100px;
}
@media (max-width: 950px) {
  .nav-list {
    display: none;
  }
}

.nav-list__link {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 10px;
  font-weight: 400;
}

.nav-list__link:hover {
  border-bottom: 3px solid var(--nav-hover);
}

@media (max-width: 950px) {
  .logo {
    display: none;
  }
}

.nav__btn {
  display: none;
}
@media (max-width: 950px) {
  .nav__btn {
    display: block;
    border: none;
  }
}

.bg-content {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  border-bottom: 1px solid var(--line-black);
}
@media (max-width: 950px) {
  .bg-content {
    grid-template-columns: 1fr;
    grid-template-rows: 450px auto;
  }
}
@media (max-width: 650px) {
  .bg-content {
    grid-template-columns: 100%;
    grid-template-rows: 300px auto;
  }
}

.bg-content__img {
  width: 100%;
}
.bg-content__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-content__text {
  margin: 200px 40px 20px;
}
.bg-content__text h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
@media (max-width: 650px) {
  .bg-content__text h3 {
    font-size: 14px;
    line-height: 22px;
  }
}
.bg-content__text h1 {
  font-family: "Tenor Sans";
  color: var(--text-accent);
  font-size: 48px;
  line-height: 58px;
  font-weight: 400;
  padding: 20px 0px 40px;
}
@media (max-width: 650px) {
  .bg-content__text h1 {
    font-size: 32px;
    line-height: 38px;
    padding: 20px 0px;
  }
}
.bg-content__text p {
  font-size: 16px;
}
@media (max-width: 650px) {
  .bg-content__text p {
    font-size: 14px;
    line-height: 22px;
  }
}
@media (max-width: 950px) {
  .bg-content__text {
    margin: 60px 40px 40px;
  }
}
@media (max-width: 650px) {
  .bg-content__text {
    margin: 30px 15px 15px;
  }
}

.bg-content__text-btn {
  display: inline-block;
  margin: 70px 0px;
  padding: 18px 58px;
  background-color: var(--green);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.bg-content__text-btn a {
  color: var(--text-white);
}
.bg-content__text-btn:hover {
  background-color: var(--bg-hover);
  cursor: pointer;
}
@media (max-width: 650px) {
  .bg-content__text-btn {
    margin: 30px 0px;
  }
}

.bg-content__text-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 40px;
}
.bg-content__text-social a {
  -webkit-transition: hover 2s ease;
  transition: hover 2s ease;
}
.bg-content__text-social a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.mob-nav__wrap {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 320px;
  padding: 30px;
  background-color: var(--bg-footer);
  opacity: 0.9;
}
.mob-nav__wrap a {
  color: var(--text-white);
}
.mob-nav__wrap a:hover {
  border-bottom: 2px solid var(--text-white);
}
.mob-nav__wrap h4 {
  padding: 10px;
}
.mob-nav__wrap h4 a {
  font-family: "Tenor Sans";
  font-weight: bold;
  font-size: 24px;
}
.mob-nav__wrap--open {
  display: block;
}

.mob-nav__list {
  display: grid;
  gap: 10px;
  margin-bottom: 10px;
}

.mob-nav__list-link {
  font-size: 20px;
}

.mob-nav__btn {
  border: none;
  background-color: var(--bg-footer);
}

.mob-nav__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.custom-master {
  max-width: 100%;
  height: 600px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(58.25%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url("./../assets/images/bg-master_classes.jpg"), lightgray 0px 0px/100% 181.163% no-repeat;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 58.25%, rgba(0, 0, 0, 0) 100%), url("./../assets/images/bg-master_classes.jpg"), lightgray 0px 0px/100% 181.163% no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}
.custom-master h4 {
  color: var(--text-white);
  font-family: "Tenor Sans";
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  padding-top: 250px;
}
@media (max-width: 950px) {
  .custom-master h4 {
    padding-top: 180px;
  }
}
@media (max-width: 650px) {
  .custom-master h4 {
    padding-top: 120px;
    font-size: 32px;
    line-height: 38px;
  }
}
.custom-master a {
  display: block;
  width: 328px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 18px;
  color: var(--text-accent);
  background-color: var(--bg-white);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.custom-master a:hover {
  border-radius: 10px;
  background-color: var(--bg-color);
}
@media (max-width: 650px) {
  .custom-master a {
    width: 250px;
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 650px) {
  .custom-master {
    height: 400px;
  }
}

.projects {
  margin: 120px 140px;
}
.projects h2 {
  color: var(--text-accent);
  font-family: "Tenor Sans";
  font-size: 47px;
  font-weight: 400;
}
@media (max-width: 650px) {
  .projects h2 {
    font-size: 32px;
  }
}
@media (max-width: 950px) {
  .projects {
    margin: 60px 40px;
  }
}
@media (max-width: 650px) {
  .projects {
    margin: 30px 0px;
  }
}

.projects-card {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  row-gap: 20px;
}
@media (max-width: 650px) {
  .projects-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    margin-top: 30px;
  }
}

.projects-card__before-img img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

.projects-card__after-img img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

.projects-card__items {
  position: relative;
  width: 250px;
  height: 320px;
}

.projects-card__items p {
  position: absolute;
  font-size: 16px;
  bottom: -8px;
  left: 35%;
}

.projects-card__before-img, .projects-card__after-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  cursor: pointer;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.projects-card__after-img {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.projects-card__items:hover .projects-card__before-img {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.projects-card__items:hover .projects-card__after-img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.techniques {
  margin: 120px 140px;
}
.techniques h2 {
  color: var(--text-accent);
  font-family: "Tenor Sans";
  font-size: 47px;
  font-weight: 400;
}
@media (max-width: 650px) {
  .techniques h2 {
    font-size: 32px;
  }
}
@media (max-width: 950px) {
  .techniques {
    margin: 60px 40px;
  }
}
@media (max-width: 650px) {
  .techniques {
    margin: 30px 0px;
  }
}

.techniques-desc {
  position: relative;
  width: 600px;
  margin: 0 auto;
  margin-top: 100px;
}
@media (max-width: 950px) {
  .techniques-desc {
    margin-top: 50px;
    width: 100%;
  }
}

.techniques-line {
  position: absolute;
  top: 0;
  left: 24px;
  width: 2px;
  height: 780px;
  background-color: var(--bg-hover);
  z-index: 1;
}
@media (max-width: 950px) {
  .techniques-line {
    height: 540px;
  }
}

.techniques-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin-bottom: 80px;
}
@media (max-width: 950px) {
  .techniques-list {
    margin-bottom: 40px;
  }
}
@media (max-width: 650px) {
  .techniques-list {
    gap: 20px;
  }
}

.techniques-list-number {
  display: block;
  width: 50px;
  height: 50px;
  color: var(--text-white);
  font-size: 24px;
  font-weight: 700;
  background-color: var(--bg-hover);
  border-radius: 50%;
  text-align: center;
  padding: 10px 0;
  z-index: 2;
}

.techniques-list-text {
  color: var(--text-black);
}
@media (max-width: 650px) {
  .techniques-list-text {
    font-size: 14px;
  }
}

.slogan {
  max-width: 100%;
  height: 600px;
  background-image: url("./../assets/images/bg-slogan.jpg");
  background-position: top;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}
.slogan p {
  padding: 180px 150px;
  text-align: center;
  color: var(--text-white);
  font-family: "Tenor Sans";
  font-size: 48px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .slogan p {
    padding: 180px 0;
  }
}
@media (max-width: 650px) {
  .slogan p {
    font-size: 32px;
    padding: 120px 0;
  }
}
@media (max-width: 650px) {
  .slogan {
    height: 400px;
  }
}

.feedback {
  margin: 0px 140px 120px;
}
.feedback h2 {
  font-family: "Tenor Sans";
  font-size: 48px;
  font-weight: 400;
  color: var(--text-accent);
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 650px) {
  .feedback h2 {
    font-size: 32px;
  }
}
@media (max-width: 950px) {
  .feedback {
    margin: 60px 40px;
  }
}
@media (max-width: 650px) {
  .feedback {
    margin: 30px 0;
  }
}

.feedback_form {
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border: 2px solid var(--nav-hover);
}

.form_input input {
  width: 500px;
  height: 40px;
  padding-left: 10px;
  font-size: 14px;
}
@media (max-width: 650px) {
  .form_input input {
    width: 330px;
    height: 30px;
  }
}
.form_input textarea {
  width: 500px;
  height: 100px;
  resize: none;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 14px;
}
@media (max-width: 650px) {
  .form_input textarea {
    width: 330px;
  }
}

.form_btn {
  background-color: var(--line-brown);
  padding: 18px 50px;
  color: var(--text-white);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.form_btn:hover {
  background-color: var(--nav-hover);
}
@media (max-width: 650px) {
  .form_btn {
    padding: 10px 35px;
  }
}

.footer-wrap {
  padding: 80px 140px 40px;
  background-color: var(--bg-footer);
}
@media (max-width: 950px) {
  .footer-wrap {
    padding: 40px 100px;
  }
}
@media (max-width: 650px) {
  .footer-wrap {
    padding: 30px;
  }
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
@media (max-width: 950px) {
  .footer-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
@media (max-width: 650px) {
  .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
  }
}

.footer-nav__list li {
  color: var(--text-white);
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 650px) {
  .footer-nav__list li {
    font-size: 14px;
    line-height: 20px;
  }
}
.footer-nav__list li a {
  color: var(--text-white);
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 650px) {
  .footer-nav__list li a {
    font-size: 14px;
    line-height: 20px;
  }
}
.footer-nav__list li a:hover {
  border-bottom: 2px solid var(--text-white);
}
@media (max-width: 950px) {
  .footer-nav__list:nth-child(3) {
    grid-column-start: 2;
    grid-row-start: 2;
  }
}
@media (max-width: 950px) {
  .footer-nav__list:nth-child(4) {
    grid-column-start: 1;
    grid-row-start: 2;
  }
}

.footer-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 40px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer-img a {
  -webkit-transition: hover 0.5ms ease;
  transition: hover 0.5ms ease;
}
.footer-img a img {
  width: 75%;
}
.footer-img a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
@media (max-width: 950px) {
  .footer-img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 650px) {
  .footer-img {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 15px;
    margin-top: 20px;
  }
}