.feedback {
  margin: 0px 140px 120px;

  h2 {
    font-family: 'Tenor Sans';
    font-size: 48px;
    font-weight: 400;
    color: var(--text-accent);
    text-align: center;
    margin-bottom: 20px;

    @include mobile() {
      font-size: 32px;
    }
  }

  @include table() {
    margin: 60px 40px;
  }

  @include mobile() {
    margin: 30px 0;
  }
}

.feedback_form {
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 2px solid var(--nav-hover);
}

.form_input {
  input {
    width: 500px;
    height: 40px;
    padding-left: 10px;
    font-size: 14px;

    @include mobile() {
      width: 330px;
      height: 30px;
    }
  }
  textarea {
    width: 500px;
    height: 100px;
    resize: none;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 14px;

    @include mobile() {
      width: 330px;
    }
  }
}

.form_btn {
  background-color: var(--line-brown);
  padding: 18px 50px;
  color: var(--text-white);
  transition: all 0.5s ease-in;

  &:hover {
    background-color: var(--nav-hover);
  }

  @include mobile() {
    padding: 10px 35px;
  }
}